* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.palindrome-result, .odd-even-result {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 48px;
}
.evidence {
    color: red;
}